@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.bg-custom {
  box-shadow: 0 200px 100px -50px rgba(244, 244, 244, 1) inset;
}

.animate-modal {
  animation: modal 0.2s;
}

.animate-card:before {
  content: '';
  position: absolute;
  top: 100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg, transparent, rgba(250, 250, 250, 0.9), transparent
  );
}

.animate-card:hover:before {
  animation: card 0.7s;
}

@keyframes modal {
  from {
    background: rgba(250, 250, 250, 0.1);
    transform: scale(.8) translateY(-20%);
  } to {
    background: rgba(250, 250, 250, 1);
    transform: scale(1) translateY(0%);
  }
}

@keyframes card {
  from {
    top: 100%;
    left: -100%;
  } to {
    top: -100%;
    left: 100%;
  }
}
